@import "styles/flex";
@import "styles/common";
@import "styles/flex";
@import "styles/space";

body {
  font-family: sans-serif;
  color: lightgray;
  background-color: #212121
}

#image-container {
  background-color: black;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
}
