@import "styles/flex";
@import "styles/common";
@import "styles/flex";
@import "styles/space";

body {
  font-family: sans-serif;
  color: lightgray;
  background-color: black;
}

#tracks-container {
  background-color: #212121
}

.map-marker-pin {

}
