@import "styles/flex";
@import "styles/common";
@import "styles/flex";
@import "styles/space";

body {
  font-family: sans-serif;
  color: lightgray;
  background-color: #212121
}

#media-container {
  background-color: black;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
}

#info-opener {
  position: absolute;
  right: 10px;
  top: 5px;
  border: 0;
  padding: 0;
  font-size: 2em;
  background-color: transparent;
  color: inherit;
  z-index: 1000;
  cursor: pointer;
}

#app-info {
  position: absolute;
  right: 5px;
  top: 45px;
  background-color: #212121;
  color: inherit;
  opacity: 0.8;
  z-index: 1000;
}

em {
  font-style: italic;
}

a {
  cursor: pointer;
  text-decoration: inherit;
  color: #3799bb
}

a:hover {
  color: #0078a8;
}

a:visited {
  color: #0f82af;
}
